<div class="d-flex flex-row bd-highlight mb-3">
<div class="form-group row" style="width: 60%;">

    <label class="col-sm-2 col-form-label">Employee Name</label> 
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="EmployeeName" 
        placeholder="Enter Employee Name">
    </div> 

    <label class="col-sm-2 col-form-label">Department</label>
    <div class="col-sm-10">
        <Select class="form-control" name="Department" ngDefaultControl [(ngModel)]="Department">
            <option>--select--</option>
            <option *ngFor="let depName of DepartmentsList">
                {{depName.DepartmentName}}
            </option>
        </Select>
    </div>
    
    <label class="col-sm-2 col-form-label">Date of joining</label>
    <div class="col-sm-10">
        <input type="date"  [(ngModel)]="DateOfJoining">
    </div>

</div>
<div class=" ml-3 bd-highligth" style="width: 40%;">
<img [src]=PhotoFilePath height="250px;" width="200px;">
<input type="file" (change)="uploadPhoto($event)" class="mt-2">
</div>
</div>


<button type="button" (click)="addEmployee()" *ngIf="emp.EmployeeId==0" class="btn btn-primary">
    Add
</button>

<button type="button" (click)="updateEmployee()" *ngIf="emp.EmployeeId!=0" class="btn btn-primary">
    Update
</button>

